@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Creepster&family=EB+Garamond&family=Flavors&family=Satisfy&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', serif;
$font-4: 'Caveat', cursive;
$font-5: 'EB Garamond', serif;
$font-6: 'Satisfy', cursive;
$font-7: 'Creepster', cursive;
$font-8: 'Flavors', cursive;

$color-1: #7091eb;
$color-2: #6C77F4;
$color-3: #5691b8;
$color-4: #4FEDD2;
$color-4: #36d0EA;
$color-5: #0a84e7;
$color-6: #e4b827;
$color-7: #85d8fe; 
$color-8: #547fc0;
$color-9: #587abb;
$color-10: #943417;
$color-11: #98b0f0;
$color-12: #443683;
$color-13: #523eac;
$white: #ddd;
$white1: #fff;
$black: #333;
$black1: #000;
$special: #887cbda6;
$gray: #ccc;


$borderRadius: 20px;
$shadow: 0 1px 3px;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin animeBackground($color, $border, $deg, $percent1, $percent2) {
    background: linear-gradient($deg, $color $percent1, transparent $percent2);
    border-radius: $border;
}


body {
    font-family: $font-1;
}


.content {
    @include animeBackground($special, $borderRadius, -7deg, 5%, 25%);
}

.content1 {
    @include animeBackground($special, $borderRadius, 7deg, 5%, 80%);
}

.download {
    @include animeBackground($special, $borderRadius, 115deg, 30%, 100%);

    padding: 0.8rem 0.8rem;
    box-shadow: 0    0   2px $color-6,
                1px -1px 3px$color-7,
                -2px -2px 4px $color-5,
                2px -4px 5px $color-3,
                -2px -6px 6px $color-8,
                0   -8px 7px $color-9,
                1px -9px 8px $color-10; 
                
    transition: 0.2s ease;

    &:hover {
        letter-spacing: 2px;
        color: $color-5;
    }
}

